<div class="navbar navbar-default navbar-static-top" role="navigation">      
  <div class="container">
    <div class="navbar-header">       
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">     
	<span class="sr-only">Toggle navigation</span>          
	<span class="icon-bar"></span>                               
	<span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="/">Bookmarks</a>
     </div>
     <div class="collapse navbar-collapse">
       {% if request.user.is_authenticated %}
       <ul class="nav navbar-nav">
	  <li {% if section == "dashboard" %} class="selected" {% endif %}>    
	    <a href="{% url 'dashboard' %}">Dashboard</a>                    
	  </li>                                 
	  <li {% if section == "images" %} class="selected" {% endif %}>
	    <a href="#">Images</a>
          </li>
	  <li {% if section == "people"%} class="selected" {% endif %}>
            <a href="#">People</a>
	  </li>
	</ul>
	{% endif %}

	{% if request.user.is_authenticated %}
	<div class="collapse navbar-collapse">
	<ul class="nav navbar-nav">
	  <li>
	    <p>Hello, {{ request.user.first_name }} | <a href="{% url 'logout' %}">Logout</a></p>
	  </li>
	</ul>
	</div>
      {% else %}
      <ul class="nav navbar-nav">
	  <li>
	    <a href="{% url 'login' %}">Login</a>
	  </li>
      </ul>
	{% endif %}
      </div>
    </div>
  </div>
