{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <h3 class="form-signin-heading">Reset your password<hr/><small>Please enter your email address.</small></h3>
    <form action="{% url 'password_reset' %}" method="post">
      {{ form|crispy }}
      <input class="btn btn-primary" type="submit" value="Reset">
      {% csrf_token %}
    </form>
  </div>
</div>
{% endblock %}
